<!doctype html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel=icon href="/_assets/img/favicon.png">
<link rel=manifest href="/_assets/pwa/manifest.webmanifest">
<link rel=stylesheet href="/_assets/css/style.css">
<title>{{title}}{% if next %} - Idiosyncrasies of the HTML parser{% endif %}</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@htmlparserbook">
<meta name="twitter:creator" content="@zcorpan">
<meta name="twitter:title" content="Idiosyncrasies of the HTML parser">
<meta name="twitter:description" content="This book will highlight the ins and outs of the HTML parser, and contains almost-impossible quizzes.">
<meta name="twitter:image" content="https://htmlparser.info/_assets/img/card.png">
<meta name="twitter:image:alt" content="Book cover for 'Idiosyncrasies of the HTML parser', which features a sketch of a platypus.">
{{ content | safe }}
{% if next %}
<nav>
{% if next === "end" %}
<p>The end.</p>
{% else %}
<p>Next up: <a href="/{{ next }}/">{{ nextTitle }}</a></p>
{% endif %}
</nav>
<footer><p><a href="/#table-of-contents">Table of Contents</a> - <a href="https://leanpub.com/html-parser-book/">Buy the eBook</a> - <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fhtmlparser.info%2F&ref_src=twsrc%5Etfw&text=I'm%20reading%20Idiosyncrasies%20of%20the%20HTML%20parser&tw_p=tweetbutton&url=https%3A%2F%2Fhtmlparser.info%2F">Share on Twitter</a></p></footer>
{% endif %}
<script src="/_assets/js/file-issue.js" data-file-issue-url="https://github.com/zcorpan/html-parser-book/issues/new" async></script>
