<!doctype html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel=icon href="/_assets/img/favicon.png">
<link rel=manifest href="/_assets/pwa/manifest.webmanifest">
<link rel=stylesheet href="/_assets/css/style.css">
<title>{{title}} - Idiosyncracies of the HTML parser</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@htmlparserbook">
<meta name="twitter:creator" content="@zcorpan">
<meta name="twitter:title" content="Idiosyncracies of the HTML parser">
<meta name="twitter:description" content="This book will highlight the ins and outs of the HTML parser, and contains almost-impossible quizzes.">
<meta name="twitter:image" content="https://htmlparser.info/_assets/img/card.png">
<meta name="twitter:image:alt" content="Book cover for 'Idiosyncracies of the HTML parser', which features a sketch of a platypus.">
{{ content | safe }}
<script src="/_assets/js/file-issue.js" data-file-issue-url="https://github.com/zcorpan/html-parser-book/issues/new" async></script>
