html { font-family: system-ui, sans-serif; line-height: 1.5; font-weight: 300; margin: 0 5%; }
body { max-width: 50em; margin: 0 auto; padding: 2em 0 4em; }
img { max-width: 100%; }
h1 { margin-top: 1.5em; margin-bottom: 1.5em; font-size: 3em; line-height: 1.1; color: #333; font-weight: 800; }
h2, h3 { margin-top: 3em; }
h2, h3, th, strong { font-weight: 600; color: #222; }
h2 code, h3 code, th code, strong code { color: black; font-size: inherit; }
pre, code { font-family: Andale Mono, Monaco, Consolas, Lucida Console, monospace; font-size: 0.875em; white-space: pre-wrap; }
pre code { display: block; font-size: inherit; }
pre { margin: 1em; }
code.language-dom-tree { line-height: normal; }
code.language-html { background: #444; color: white; padding: 0.5em 1em; margin-left: -1em; margin-right: -1em; border-radius: 5px; }

table { border-collapse: collapse; border: hidden; }
th, td { border: 1px solid gray; padding: 0 0.5em; vertical-align: baseline; text-align: left; }

.book-cover { text-align: center; min-height: calc(100vh - 4em); display: grid; align-items: center; }
.book-cover h1 { font: inherit; margin: 0; }
.book-cover svg { display: block; margin: 0 auto; max-height: calc(100vh - 4em); }
.book-cover p { margin-top: -2em; padding-bottom: 2em; font-weight: bold; opacity: 0.6; }

ul.toc { padding: 0; }
ul.toc > li { list-style-type: none; display: flex; margin-bottom: 1em; border-bottom: 2px #ccc solid; }
ul.toc > li span { flex-grow: 1; text-align: right;  }
ul.toc > li > a { text-decoration: none; }

nav.toc li { list-style-type: none; }
nav.toc > ol { margin-left: 0; padding-left: 0; }
summary { color: darkseagreen; font-size: small; font-weight: bold; cursor: default; text-align: center; border-bottom: 0.25em solid darkseagreen; }

nav { border-bottom: 0.25em solid darkseagreen; }
nav.next { margin-top: 3em; border-top: 0.25em solid darkseagreen; text-align: right; }
footer { font-size: small; text-align: center; }

blockquote { border-left: 0.25em solid darkseagreen; padding: 0.25em 1.25em 0.25em 1em; margin-left: 1em; margin-right: 1em; background-color: whitesmoke; }
blockquote blockquote { margin-left: 0; margin-right: 0; }

:link { color: royalblue; }
:visited { color: slateblue; }
:any-link:active { color: darkred; }

.selected-text-file-an-issue { position: fixed; bottom: 0; right: 0; padding: 0.25em; color: inherit !important; }
.octicon-issue-opened { fill: currentColor; vertical-align: middle; }

@media (prefers-color-scheme: dark) {
  html { background: #333; color: white; }
  h1, h2, h3, th, strong, html code { color: #eee; }
  code.language-html { background-color: #222; color: #ddd; }
  blockquote { background-color: #444; }
  :link { color: gold; }
  :visited { color: goldenrod; }
  :any-link:active { color: pink; }
  #book-cover-shadow feDropShadow { flood-opacity: 1; }
}
